table{
	font-family:Sans-serif;
	border-collapse:collapse;
}
table tr th{
	background:#35A9DB;
	color:#fff;
	font-weight:bold;
	font-size:14px;
}
table, th, td {
	border:1px solid blue;
}
table td:hover {
	background-color:#00ffff;
}
